.flyout {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.flyout > div {
  border-radius: 5px;
  overflow: hidden;
  width: 60%;
  height: 0px;
  transition: height 0.5s;
  margin: 0 auto 20px auto;
}

.flyout-light > div {
  background-color: #f9f9f9;
  box-shadow: 10px 5px 5px #909090;
}

.flyout-dark > div {
  background-color: #303040;
  box-shadow: 10px 5px 5px black;
}

.flyout > div.shown {
  border: 1px solid black;
  height: 90px;
}

.flyout .flyout-content {
  margin: 20px;
}

.flyout button,
.flyout a {
  margin-left: 30px;
}
.flyout-content a.button-dark {
  color: #d0d0d0;
  background-color: #505060;
}

.flyout-content a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f0f0f0;
  color: black;
}

.flyout-content a:hover {
  border-color: #646cff;
}
